<div class="my-5">
  <div class="font-medium">
    <h2 class="text-xl">Overview:</h2>
  </div>
  <p>The Multisig Wallet contract allows multiple owners to securely manage funds and perform transactions with a
    required
    number of confirmations. It supports both Ether and ERC20 token transactions, enhancing security against
    unauthorized
    access.</p>

  <p>Link github:
    <a href="https://github.com/tiendatmagic/MultisigWallet" target="_blank"
      class="font-normal text-blue-700 hover:underline">https://github.com/tiendatmagic/MultisigWallet</a>
  </p>

  <div class="mt-5 font-medium">
    <h2 class="text-xl">Contact:</h2>
  </div>
  Email: <a href="mailto:tiendatmagic8@gmail.com"
    class="font-normal text-blue-700 hover:underline">tiendatmagic8&#64;gmail.com</a>
</div>