<nav class="px-4 pt-5 bg-white border-gray-200 sm:pt-4 sm:px-6 md:px-8">
  <div class="flex flex-wrap items-center justify-between gap-3 mx-auto">
    <div class="flex gap-5">
      <a routerLink="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/assets/image/heart.webp" class="h-8" alt="Web3 Logo" />
        <span class="self-center text-2xl font-semibold whitespace-nowrap">Multisig Wallet</span>
      </a>
      <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
        <ul class="flex flex-col gap-3 mt-4 font-medium lg:gap-4 md:flex-row md:mt-0 rtl:space-x-reverse">
          <li class="flex items-center">
            <a routerLink="/home" routerLinkActive="text-blue-600"
              class="items-center block p-2 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600">Home</a>
          </li>
          <li class="flex items-center">
            <a routerLink="/contact" routerLinkActive="text-blue-600"
              class="items-center block p-2 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-600">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-wrap items-center justify-between w-full gap-3 sm:w-auto">

      <div class="relative select-none" [ngClass]="isConnected ? 'block' : 'hidden'">
        <div id="dropdownMenuAccountDetail" data-dropdown-toggle="dropdownMenuAccountToggle">
          <ng-container *ngIf="isConnected">
            <div class="flex p-1 font-semibold border border-gray-300 rounded-lg cursor-pointer">
              <div class="p-2" matTooltip="{{ balance | number : '1.1-5' }} {{ nativeSymbol }}">
                {{ balance ?? 0 | number : "1.1-5" }} {{ nativeSymbol }}
              </div>
              <div class="bg-[#e8edf3] p-2 rounded-lg">
                {{ account.slice(0, 5) }}...{{ account.slice(-5) }}
              </div>
            </div>
          </ng-container>
        </div>

        <div class="absolute right-0 top-14 w-[calc(100vw-12px)] sm:w-[calc(100%+100px)] hidden z-10"
          id="dropdownMenuAccountToggle" aria-labelledby="dropdownMenuAccountDetail" aria-hidden="true">
          <div class="ml-3 bg-white border border-gray-100 rounded-lg md:-translate-x-8 shadow-card">
            <ng-container *ngIf="isConnected">
              <div>
                <div class="flex justify-between p-4 border-b-2 border-gray-100">
                  <div matTooltip="{{ account }}">{{ account.slice(0, 5) }}...{{ account.slice(-5) }}</div>
                  <div class="flex items-center gap-5">
                    <div (click)="copyAddress(account)" class="cursor-pointer">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="16" fill="none" viewBox="0 0 16 16"
                        color="text" class="sc-5a69fd5e-0 ixGbmW">
                        <path fill="#fff" stroke="#8492A7" stroke-width="1.5"
                          d="M10.817 13.057c.104-1.671.135-3.346.092-5.02a1.676 1.676 0 00-.322-.95C9.82 6.043 9.21 5.393 8.204 4.617a1.65 1.65 0 00-.971-.339c-.35-.007-.716-.01-1.105-.01-1.182 0-2.134.034-3.12.101a1.687 1.687 0 00-1.57 1.577 56.995 56.995 0 00-.11 3.557c0 1.218.038 2.407.11 3.554.053.848.724 1.52 1.57 1.577.986.068 1.938.104 3.12.104 1.18 0 2.134-.036 3.12-.103a1.687 1.687 0 001.57-1.576v-.002z">
                        </path>
                        <path fill="#fff" stroke="#8492A7" stroke-width="1.5"
                          d="M14.552 10.124c.104-1.671.134-3.347.09-5.021a1.676 1.676 0 00-.32-.95c-.767-1.044-1.378-1.693-2.384-2.469a1.642 1.642 0 00-.971-.339c-.35-.007-.715-.012-1.105-.012-1.181 0-2.134.036-3.12.103a1.687 1.687 0 00-1.57 1.577 56.983 56.983 0 00-.11 3.556c0 1.219.038 2.408.11 3.555.054.847.725 1.52 1.57 1.577.986.069 1.939.104 3.12.104 1.18 0 2.134-.035 3.12-.103a1.687 1.687 0 001.57-1.576v-.002z">
                        </path>
                      </svg>
                    </div>
                  </div>
                </div>
              </div>

              <div class="p-4">
                <button (click)="disconnectWallet()"
                  class="p-3 font-medium text-black bg-[#e8edf3] rounded-lg focus:border-0 focus:outline-none w-full"
                  matRipple *ngIf="isConnected">
                  Disconnect wallet
                </button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <button (click)="connectWallet()" class="p-3 text-white rounded-lg focus:border-0 focus:outline-none" matRipple
        matRippleColor="#ffffff80" *ngIf="!isConnected" [ngClass]="!isConnected ? 'bg-blue-500' : 'bg-orange-500'">
        Connect wallet
      </button>

      <ng-container>
        <!-- drawer init and show -->

        <button
          class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 "
          type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation"
          aria-controls="drawer-navigation">
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15" />
          </svg>
        </button>

        <!-- drawer component -->
        <div id="drawer-navigation"
          class="fixed top-0 left-0 z-40 block w-64 h-screen p-3 overflow-y-auto transition-transform -translate-x-full bg-white lg:hidden"
          tabindex="-1" aria-labelledby="drawer-navigation-label">
          <h5 id="drawer-navigation-label" class="text-base font-semibold text-gray-500 uppercase">
            Menu</h5>
          <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 end-2.5 inline-flex items-center">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="sr-only">Close menu</span>
          </button>
          <div class="py-4 overflow-y-auto">
            <ul class="space-y-2 font-medium">
              <li>
                <a routerLink="/" class="flex items-center px-2 py-3 text-gray-900 rounded-lg hover:bg-gray-100 group"
                  data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation">
                  <span class="ms-3">Home</span>
                </a>
              </li>

              <li>
                <a routerLink="/contact"
                  class="flex items-center px-2 py-3 text-gray-900 rounded-lg hover:bg-gray-100 group"
                  data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation">
                  <span class="ms-3">Contact</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </ng-container>
    </div>
  </div>
</nav>